body{
	background: #CCCCCC;
}#escola de atenas {
    width: 200%;
}

h1 {
	text-align: center 
}

p{
	text-align: center
}

#recurso {
	font-size:20px

}
strong{
	color: #FF0000;
}

itens{
	font-style:italic;
}
h2{
	text-align: center;
}
.imagembenefico{width: 50%;

}
